@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/bebasneue_regular-webfont.woff2") format('woff2');
}

img {
    max-width: 25%;
}

@media screen and (min-width: 480px) {
    img {
        max-width: 25%;
    }
}

@media screen and (min-width: 768px) {
    img {
        max-width: 20%;
    }
}

@media screen and (min-width: 992px) {
    img {
        max-width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 10%;
    }
}

.logo {
    margin-top: 15px;
    max-width: 40%;
}

@media screen and (min-width: 480px) {
    .logo {
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    .logo {
        margin-top: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        margin-top: 30px;
    }
}

body {
    background-color: #fdd7bb;
    margin: 0;
    width: 100%;
    line-height: 1.6;
    text-align: center;
}

input,
textarea {
    color: #dc2a26;
    font-size: 15px;
    font-family: monospace;
}

@media screen and (min-width: 480px) {

    input,
    textarea {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {

    input,
    textarea {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {

    input,
    textarea {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {

    input,
    textarea {
        font-size: 18px;
    }
}

select {
    color: #dc2a26;
    font-size: 15px;
    font-family: monospace;
}

@media screen and (min-width: 480px) {
    select {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    select {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    select {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    select {
        font-size: 18px;
    }
}

header {
    background-color: #28180e;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
    float: left;
}

header h1 {
    padding: 0;
    margin: 0;
    color: #dc2a26;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

@media screen and (min-width: 480px) {
    header h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    header h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 992px) {
    header h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    header h1 {
        width: 100%;
        font-size: 100px;
    }
}

nav ul {
    background-color: #28180e;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    list-style-type: none;
    font-size: 20px;
}

nav li {
    max-width: 30%;
    display: inline-block;
}

.lessons-menu ul li {
    background-color: #8c4a2b;
    max-width: 100%;
    display: block;
}

nav li a:link,
.lessons-menu ul li a:link {
    padding: 4px;
    padding-top: 0;
    display: block;
    color: #8c4a2b;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {

    nav li a:link,
    .lessons-menu ul li a:link {
        padding: 4px;
        padding-top: 0;
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {

    nav li a:link,
    .lessons-menu ul li a:link {
        padding: 10px;
        padding-top: 0;
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {

    nav li a:link,
    .lessons-menu ul li a:link {
        padding: 16px;
        padding-top: 0;
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) {

    nav li a:link,
    .lessons-menu ul li a:link {
        padding: 22px;
        padding-top: 0;
        font-size: 40px;
    }
}

.lessons-menu ul li a:link {
    color: #28180e;
    text-align: left;
}

nav li a:active,
.lessons-menu ul li a:active {
    color: #dc2a26;
}

.lessons-menu ul {
    display: none;
    position: absolute;
    background-color: #28180e;
    max-width: 75%;
    z-index: 1;
}

@media screen and (min-width: 480px) {
    .lessons-menu ul {
        max-width: 55%;
    }
}

@media screen and (min-width: 768px) {
    .lessons-menu ul {
        max-width: 45%;
    }
}

@media screen and (min-width: 992px) {
    .lessons-menu ul {
        max-width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .lessons-menu ul {
        max-width: 40%;
    }
}

.lessons-menu:hover ul {
    display: block;
}

nav li a:visited {
    color: #8c4a2b;
}

.lessons-menu ul li a:visited {
    color: #28180e;
}

nav li a:hover,
.lessons-menu ul li a:hover {
    color: #fdd7bb;
}

main {
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
    main {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 55%;
    }
}

@media screen and (min-width: 992px) {
    main {
        max-width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 65%;
    }
}

main h1 {
    background-color: #fdd7bb;
    padding-top: 150px;
    margin-bottom: 0;
    color: #dc2a26;
    line-height: 1.2;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {
    main h1 {
        padding-top: 150px;
        margin-bottom: 0;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    main h1 {
        padding-top: 180px;
        margin-bottom: 0;
        font-size: 40px;
    }
}

@media screen and (min-width: 992px) {
    main h1 {
        padding-top: 220px;
        margin-bottom: 0;
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    main h1 {
        padding-top: 260px;
        margin-bottom: 0;
        font-size: 60px;
    }
}

main a {
    color: #8c4a2b;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 992px) {
    main a {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    main a {
        font-size: 30px;
    }
}

button,
.button-class {
    background-color: fdd7bb;
    color: #dc2a26;
    font-size: 21px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {

    button,
    .button-class {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) {

    button,
    .button-class {
        font-size: 23px;
    }
}

@media screen and (min-width: 992px) {

    button,
    .button-class {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {

    button,
    .button-class {
        font-size: 27px;
    }
}

button:visited,
,
.button-class:visited {
    color: #dc2a26;
}

p,
label {
    margin-top: 0;
    width: 100%;
    color: #28180e;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
    text-align: center;
}

@media screen and (min-width: 480px) {

    p,
    label {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {

    p,
    label {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) {

    p,
    label {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {

    p,
    label {
        font-size: 19px;
    }
}

label {
    display: block;
}

pre {
    display: block;
    overflow-x: auto;
    color: #8c4a2b;
    text-align: left;
    font-size: 15px;
    white-space: pre-wrap;
}

@media screen and (min-width: 480px) {
    pre {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    pre {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    pre {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    pre {
        font-size: 18px;
    }
}

pre.prettyprint {
    border: none;
}

main li {
    width: 100%;
    color: #28180e;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
}

@media screen and (min-width: 480px) {
    main li {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    main li {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) {
    main li {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    main li {
        font-size: 19px;
    }
}

#lesson3img {
    padding-left: 10%;
    max-width: 30%;
}

@media screen and (min-width: 480px) {
    #lesson3img {
        padding-left: 10%;
        max-width: 30%;
    }
}

@media screen and (min-width: 768px) {
    #lesson3img {
        padding-left: 10%;
        max-width: 25%;
    }
}

@media screen and (min-width: 992px) {
    #lesson3img {
        padding-left: 5%;
        max-width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    #lesson3img {
        padding-left: 5%;
        max-width: 15%;
    }
}

#lesson4img {
    max-width: 70%;
}

@media screen and (min-width: 480px) {
    #lesson4img {
        max-width: 70%;
    }
}

@media screen and (min-width: 768px) {
    #lesson4img {
        max-width: 60%;
    }
}

@media screen and (min-width: 992px) {
    #lesson4img {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #lesson4img {
        max-width: 40%;
    }
}
