@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/bebasneue_regular-webfont.woff2") format('woff2');
}

/*header*/
header {
    background-color: #28180e;
    padding: 0;
    width: 90%;
    display: inline-block;
    float: left;
    color: #dc2a26;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

@media screen and (min-width: 480px) {
    header {
        width: 90%;
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    header {
        width: 100%;
        font-size: 60px;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 100%;
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        width: 100%;
        font-size: 100px;
    }
}

/*hamburger menu*/
.nav_mobile {
    background-color: #28180e;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 10%;
    margin: 0;
    display: inline-block;
}

@media screen and (min-width: 480px) {
    .nav_mobile {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .nav_mobile {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .nav_mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .nav_mobile {
        display: none;
    }
}

.nav_mobile figure {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #8c4a2b;
    margin: 6px 0;
}

nav ul {
    background-color: #28180e;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
    list-style-type: none;
}

@media screen and (min-width: 480px) {
    nav ul {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    nav ul {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    nav ul {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    nav ul {
        font-size: 30px;
    }
}

nav li {
    display: inline-block;
}

nav li a:link {
    padding: 10px;
    display: block;
    color: #8c4a2b;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {
    nav li a:link {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {
    nav li a:link {
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) {
    nav li a:link {
        font-size: 40px;
    }
}

nav li a:active {
    color: #dc2a26;
}

nav ul li ul {
    display: none;
}

/*
nav ul li ul.dropdown {
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li {
    display: block;
}

nav @media screen and (max-width: 500px) {
    li {
        display: block;
        border-bottom: 1px black solid;
    }

    li:last-child {
        border-bottom: none;
    }
}
*/

nav li a:hover {
    color: #fdd7bb;
}

main {
    max-width: 60%;
    margin: 0 auto;
}


body {
    background-color: #fdd7bb;
    padding 0 10px;
    margin: 40px auto;
    width: 100%;
    line-height: 1.6;
    color: #28180e;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
    text-align: center;
}

@media screen and (min-width: 480px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 19px;
    }
}

h1 {
    background-color: #fdd7bb;
    padding: 0;
    color: #dc2a26;
    line-height: 1.2;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
}

a {
    color: #8c4a2b;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 992px) {
    a {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    a {
        font-size: 30px;
    }
}

button a {
    color: #dc2a26;
    font-size: 21px;
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (min-width: 480px) {
    button a {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) {
    button a {
        font-size: 23px;
    }
}

@media screen and (min-width: 992px) {
    button a {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    button a {
        font-size: 27px;
    }
}

pre {
    border: none;
    border-style: none;
    color: #8c4a2b;
    text-align: left;
    font-size: 16px;
}

@media screen and (min-width: 480px) {
    pre {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    pre {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) {
    pre {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    pre {
        font-size: 19px;
    }
}
